@mixin transform-transition($duration: 0.1s) {
    transition: transform #{$duration} ease-in-out;
}

@mixin technologies-and-time-line {
    padding: 90px 10px;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.5em;
    
    @media (min-width: 576px) {
        max-width: 540px;
        padding-top: 95px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
        padding-top: 120px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
        padding-top: 140px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
        padding-top: 170px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}
