<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of inputTabs; let i = index">
    <div
      *ngIf="i === currentSlide"
      class="slide"
      @carouselAnimation
    >
      <ng-container *ngTemplateOutlet="slide.template"></ng-container>
    </div>
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
