@use "/src/app/styles";

:host {
    flex: 1;
    
    .carousel {
        position: relative;
        overflow: hidden;
        
        touch-action: pan-y !important;
        
        &,
        .slides,
        .slide {
            width: 100%;
            height: 100%;
        }
        
        .slides {
            display: flex;
            flex-direction: row;
            
            transition: transform 0.5s ease-in-out;
            
            .slide {
                flex-shrink: 0;
            }
        }
        
        .control {
            --size: var(--font-size-h3);
            
            color: styles.$color-gray-98;
            
            position: absolute;
            top: 0;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            height: 100%;
            
            cursor: pointer;
            user-select: none;
            
            &::after {
                --border: 0.2rem solid #{styles.$color-gray-98};
                
                content: "";
                
                width: var(--size);
                height: var(--size);
                
                border-left: var(--border);
                border-bottom: var(--border);
            }
            
            &--left {
                left: 0;
                padding-left: var(--size);
                
                &::after {
                    transform: rotate(45deg);
                }
            }
            
            &--right {
                right: 0;
                padding-right: var(--size);
                
                &::after {
                    transform: rotate(225deg);
                }
            }
        }
    }
}
