<div class="carousel" (swipe)="swipeHandler($event)">
    <div class="slides" [ngClass]="'step--' +(currentSlide + 1).toString()">
        <ng-container *ngFor="let slide of templates; let i = index">
            <div class="slide" [ngClass]="'slide--' +(i + 1).toString()">
                <ng-container *ngTemplateOutlet="slide"></ng-container>
            </div>
        </ng-container>
    </div>
    
    <button class="control control--left" (click)="onNextClick()"></button>
    <button class="control control--right" (click)="onPreviousClick()"></button>
</div>
