<app-toolbar theme="dark"></app-toolbar>
<div class="technologies">
  <p class="technologies__text">
    در کارآموزی کُداِستار در کار با این زبان‌ها و فناوری‌ها تجربه به دست میارین:
  </p>
  <div class="technologies__list">
    <a  [routerLink]="['CSharp']" class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/CSharp.png"/>
      <p>C#</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/Java.png"/>
      <p>Java</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/TypeScript.png"/>
      <p>TypeScript</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/SqlServer.png"/>
      <p>Microsoft SQL server</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/Elasticsearch.png"/>
      <p>Elasticsearch</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/Kibana.png"/>
      <p>Kibana</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/APM.png"/>
      <p>APM</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/ASP.png"/>
      <p>Asp.Net Core</p>
    </a>
    <a class="technologies__technology">
      <img class="technologies__technology-image" src="../../../assets/Angular.png"/>
      <p>Angular</p>
    </a>
  </div>
  <p class="technologies__text">همچنین با این مفاهیم آشنا میشین:</p>

  <ul>
    <li>
      <span>Advanced Object Oriented Programming</span>
    </li>
    <li>
      <span>SOLID principles</span>
    </li>
    <li>
      <span>Test Driven Development</span>
    </li>
    <li>
      <span>Application Profiling</span>
    </li>
    <li>
      <span>Unit Testing, Integration Testing, Load Testing</span>
    </li>
    <li>
      <span>SQL, NoSQL, High Availability Databases</span>
    </li>
  </ul>
</div>
<app-footer></app-footer>
