@use "/src/app/styles";

.technologies,
.concepts {
    width: 100%;
    max-width: var(--container-max-width);
    
    margin: 0 auto;
    padding-left: var(--container-inline-padding);
    padding-right: var(--container-inline-padding);
    
    h1,
    h2,
    h4 {
        text-align: center;
    }
    
    h4 {
        white-space: break-spaces;
    }
    
    ul {
        --size: 10rem;
        
        direction: ltr;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
        justify-items: stretch;
        gap: 4rem;
        
        margin: 4rem 0 10rem;
        
        list-style: none;
    }
}

.technologies {
    padding-top: var(--container-padding-top);
    
    h1 {
        margin-bottom: 6rem;
    }
    
    ul {
        li {
            flex: 1 0 var(--size);
            
            display: grid;
            grid-template-rows: 10rem 1fr;
            align-items: flex-start;
            gap: 1rem;
            
            transform: scale(1);
            
            @include styles.transform-transition;
            
            &:hover {
                transform: scale(1.1);
                
                img {
                    filter: grayscale(0) !important;
                }
            }
            
            img {
                width: 100%;
                height: 100%;
                
                object-fit: contain;
            }
        }
        
        &:hover {
            li {
                img {
                    filter: grayscale(100%);
                }
            }
        }
    }
}

.concepts {
    ul {
        --padding: 3rem;
        --column-size: calc(var(--size) + calc(var(--padding) * 2));
        
        grid-template-columns: repeat(auto-fit, minmax(var(--column-size), 1fr));
        justify-items: center;
        
        li {
            position: relative;
            box-sizing: content-box;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: var(--size);
            height: var(--size);
            
            padding: var(--padding);
            
            transform: scale(1);
            
            @include styles.transform-transition;
            
            &:hover {
                color: styles.$color-gray-98;
                
                transform: scale(1.1);
                
                h4 {
                    font-weight: var(--font-weight-h4--active);
                }
                
                i {
                    border-color: currentColor !important;
                }
            }
            
            @for $li from 1 to 15 + 1 {
                &:nth-child(#{$li}) {
                    $hue: ($li + 2) * 40;
                    @if $hue >= 360 {
                        $hue: $hue - 360;
                    }
                    
                    $color: hsl($hue, 100%, 40%);
                    
                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        
                        width: 100%;
                        height: 100%;
                        
                        border: 0.05rem solid $color;
                        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
                        
                        @for $i from 1 to 3  + 1 {
                            &:nth-child(#{$i}) {
                                animation: rotateAnimation #{1 + $i * 2}s linear infinite -#{$i * 2 + $li}s;
                            }
                        }
                    }
                    
                    &:hover {
                        i {
                            background: $color;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
