@use "/src/app/styles" as *;

.technologies {
    @include technologies-and-time-line;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        
        margin: 50px 10px;
    }
    
    &__technology {
        --size: 200px;
        
        color: $color-dark;
        
        display: block;
        
        width: var(--size);
        
        user-select: none;
        
        text-align: center;
        text-decoration: none;
        
        @include transform-transition;
        
        &-image {
            width: var(--size);
            height: var(--size);
            object-fit: contain;
        }
        
        p {
            direction: ltr;
        }
        
        &:hover {
            transform: scale(1.05);
        }
    }
}
