<app-header theme="dark"></app-header>

<div class="technologies">
    <h1>کسب مهارت در کار با فناوری‌های مطرح دنیا</h1>
    <ul>
        <li *ngFor="let technology of technologies">
            <img [src]="technology.image" alt=""/>
            <h3>{{technology.title}}</h3>
        </li>
    </ul>
</div>

<div class="concepts">
    <h2>آشنایی با مفاهیم پیشرفتۀ برنامه‌نویسی</h2>
    <ul>
        <li *ngFor="let concept of concepts">
            <i></i>
            <i></i>
            <i></i>
            <h3>{{concept}}</h3>
        </li>
    </ul>
</div>

<app-footer></app-footer>
