@import '../../../colors.scss';

.contact-us {
  line-height: 2rem;
  font-size: 1.25rem;

  text-align: justify;

  text-align-last: center;

  @media (max-width: 575px) {
    padding: 75px 20px;
  }

  @media (min-width: 576px) {
    padding: 75px 38px;
  }

  @media (min-width: 768px) {
    padding: 75px 134px;
  }

  @media (min-width: 992px) {
    padding: 75px 246px;
  }

  @media (min-width: 1200px) {
    padding: 75px 350px;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;

    &-icon{
      width: 30px;
      object-fit: cover;
      margin: 0 10px;
    }
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 60px;
    color:$base-color;
  }
}
