<div class="contact-us">
  <h1 class="contact-us__title">ارتباط با ما</h1>
  <p class="contact-us__text">
    می‌تونی برای اطلاعات بیشتر ما رو در پیام‌رسان‌ها و شبکه‌های اجتماعی دنبال کنی.
  </p>
  <p class="contact-us__text">
    <a href="https://t.me/code_star" target="_blank">
      <img class="contact-us__text-icon" src="./assets/telegram.png" />
    </a>

    <a href="https://www.instagram.com/code_star.ir/" target="_blank">
      <img class="contact-us__text-icon" src="./assets/instagram.png" />
    </a>
  </p>
</div>
