<div class="time-line">
  <h1 class="time-line__title">زمان‌بندی</h1>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          شروع
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        ثبت نام
      </div>
      <div class="time-line__event-content_description">
        <p>
          در اولین قدم شما وارد سایت کوئرا بشین و در آزمون ثبت نام کنین.
        </p>
      </div>
      <div class="time-line__event-content_action-bar">
        <a
          href="https://quera.ir/events/code-star/"
          target="_blank"
          mat-stroked-button
          >می‌خواهم ثبت‌ نام کنم</a
        >
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          ۳۰ و ۳۱ خرداد
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        آزمون اولیه
      </div>
      <div class="time-line__event-content_description">
        <p>
          این آزمون ۷ سوال برای سنجش توان برنامه نویسی و خلاقیت شما در حل مسئله
          داره و به صورت مسابقه در سایت کوئرا برگزار میشه، زبان مسابقه هم Java
          هست :)
        </p>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          ۲۵ خرداد تا ۲۰ تیر
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        مصاحبه
      </div>
      <div class="time-line__event-content_description">
        <p>
          بر اساس امتیاز مسابقه و همچنین اصولی بودن و تمیز بودن کد‌های ارسالی در
          مسابقه، با نفرات برتر برای هماهنگی زمان مصاحبه‌ی دوره‌ی کارآموزی تماس
          میگیریم، مصاحبه‌ی اصلی به صورت ویدیو کنفرانس هست.
        </p>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          ۱۱ مرداد
        </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        شروع دوره
      </div>
      <div class="time-line__event-content_description">
        <p>
          تبریک می‌گیم به شما رستم‌ها و گردآفریدهای کداستار! امیدواریم از دوره‌ی
          کارآموزی‌تون لذت ببرین و یادگیری زیادی داشته باشین ...
        </p>
      </div>
    </div>
  </div>
</div>
