<div class="time-line">
    <h1 class="time-line__title">زمان بندی</h1>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          شروع
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        ثبت نام
      </div>
      <div class="time-line__event-content_description">
        <p>
          در اولین قدم شما باید وارد سایت کوئرا شوید و در آزمون ثبت نام کنید.
        </p>
      </div>
      <div class="time-line__event-content_action-bar">
        <a mat-stroked-button>می‌خواهم ثبت‌ نام کنم</a>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          22 و 23 خرداد
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        آزمون اولیه
      </div>
      <div class="time-line__event-content_description">
        <p>
          در آزمون شما باید به 6 سوال فنی و الگوریتمی پاسخ دهید. این سوالات به
          گونه‌ای طرح شده‌اند که نیاز به دانش فنی بسیاری نداشته باشد و بیشتر هدف
          آن‌ها سنجش خلاقیت شما می‌باشد.
        </p>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          1 تیر تا 13 تیر
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        مصاحبه اولیه
      </div>
      <div class="time-line__event-content_description">
        <p>
          اگه توی آزمون به نظر خودتون امتیازات لازم رو کسب کرده باشید منتظر
          باشید ما طی این چند روز با شما تماس می‌گیریم و یه گپ کوچیک با هم
          خواهیم زد. پیشنهاد می‌کنم این چند روز حتما گوشیت همیشه در دسترس باشه
          :)
        </p>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          21 تا 27 تیر
        </span>
      </div>
      <div class="time-line__event-bar_line">
        <span> </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        مصاحبه اصلی
      </div>
      <div class="time-line__event-content_description">
        <p>
          اگه از شش خوان رستم گذر کرده باشی باید از خوان هفتم هم بگذری و اون هم
          چیزی نیس یه تماس تصویری با دو تن از دوستان ما. نگران نباشید
          مهربون‌هاشون رو برای شما کنار گذاشتیم.
        </p>
      </div>
    </div>
  </div>
  <div class="time-line__event">
    <div class="time-line__event-bar">
      <div class="time-line__event-bar_circle">
        <span>
          11 مرداد
        </span>
      </div>
    </div>
    <div class="time-line__event-content">
      <div class="time-line__event-content_title">
        شروع دوره
      </div>
      <div class="time-line__event-content_description">
        <p>
          تبریک می‌گم به شما رستم‌ها و گردآفریدهای کداستار! امیدوارم از دوره‌ی
          کارآموزی‌تون هم لذت ببرید و هم کلی چیز باحال و جدید تجربه کنید.
        </p>
      </div>
    </div>
  </div>
</div>
