<div class="footer">
    <h1 class="footer__title">ارتباط با ما</h1>
    <p class="footer__text">
        می‌تونین برای اطلاعات بیشتر ما رو در پیام‌رسان‌ها و شبکه‌های اجتماعی دنبال
        کنین.
    </p>
    <p class="footer__text">
        <a href="https://t.me/code_star" target="_blank">
            <img class="footer__text-icon" src="./assets/telegram.png"/>
        </a>
        
        <a href="https://www.instagram.com/code_star.ir/" target="_blank">
            <img class="footer__text-icon" src="./assets/instagram.png"/>
        </a>
        
        <a href="https://www.aparat.com/Code_star" target="_blank">
            <img class="footer__text-icon" src="../../../assets/aparat.png"/>
        </a>
    </p>
    <p class="footer__detail-owner">
        تمامی حقوق مادی و معنوی کداستار متعلق به آکادمی ستاره می‌باشد.
    </p>
</div>
