@use "/src/app/styles";

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem var(--container-inline-padding);
    
    h4 {
        flex: 1;
    }
    
    ul {
        display: flex;
        gap: 2rem;
        
        list-style: none;
        
        li {
            display: inline;
            
            width: 2rem;
            
            a {
                color: inherit;
                
                &::ng-deep {
                    fill: currentColor;
                }
            }
        }
    }
}
