@use "/src/app/styles" as *;

.footer {
  border-top: solid $light 1px;
  line-height: 2rem;
  font-size: 1.25rem;
  text-align: justify;
  text-align-last: center;

  @media (max-width: 575px) {
    padding: 20px 20px 0 10px;
  }

  @media (min-width: 576px) {
    padding: 20px 38px 0 38px;
  }

  @media (min-width: 768px) {
    padding: 20px 134px 0 134px;
  }

  @media (min-width: 992px) {
    padding: 20px 246px 0 246px;
  }

  @media (min-width: 1200px) {
    padding: 20px 350px 0 350px;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;

    &-icon {
      width: 30px;
      object-fit: cover;
      margin: 0 10px;
    }
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 60px;
    color: $base-color;
  }

  &__detail {
    min-height: 100vh;
    background: $light;
    z-index: 10;

    &-owner {
      text-align: center;
      padding: 10px 0;
      margin: 0;
      line-height: 1rem;
      font-size: 1rem;
    }
  }
}
