@use "/src/app/styles";

:host {
    margin-top: auto;
    
    footer {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            & > * + * { margin-top: 1rem }
            
            max-width: var(--container-max-width);
            width: 100%;
            
            margin: 0 auto;
            padding: 1rem var(--container-inline-padding);
            
            h4 {
                flex: 1;
                
                text-align: center;
            }
            
            ul {
                display: flex;
                
                & > * + * { margin-right: 2rem }
                
                list-style: none;
                
                li {
                    display: inline;
                    
                    width: 2rem;
                    
                    a {
                        color: inherit;
                        
                        &::ng-deep {
                            fill: currentColor;
                        }
                    }
                    
                    &.aparat {
                        &:hover {
                            color: #ed145b;
                        }
                    }
                    
                    &.instagram {
                        &:hover {
                            color: #fd1d1d;
                        }
                    }
                    
                    &.telegram {
                        &:hover {
                            color: #25a3e2;
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 576px) {
        footer {
            div {
                flex-direction: row;
                
                & > * + * { margin-top: unset }
                
                h4 {
                    text-align: start;
                }
            }
        }
    }
}
