<footer>
    <div class="text">تمامی حقوق مادی و معنوی این سایت متعلق به آکادمی ستاره می‌باشد.</div>
    <ul>
        <li>
            <a href="https://t.me/code_star/" target="_blank"><icon-telegram></icon-telegram></a>
        </li>
        <li>
            <a href="https://www.instagram.com/code_star.ir/" target="_blank"><icon-instagram></icon-instagram></a>
        </li>
        <li>
            <a href="https://www.aparat.com/Code_star/" target="_blank"><icon-aparat></icon-aparat></a>
        </li>
    </ul>
</footer>
