
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/peydaWeb-light.eot');
	src: url('fonts/eot/peydaWeb-light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/peydaWeb-light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/peydaWeb-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/eot/PeydaWeb-Medium.eot');
	src: url('fonts/eot/PeydaWeb-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/PeydaWeb-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/PeydaWeb-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/eot/PeydaWeb-SemiBold.eot');
	src: url('fonts/eot/PeydaWeb-SemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/PeydaWeb-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/PeydaWeb-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 750;
	src: url('fonts/eot/PeydaWeb-Bold.eot');
	src: url('fonts/eot/PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/PeydaWeb-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/PeydaWeb-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
