header {
    background-color: var(--color--body-background);
	
	position: relative;
	z-index: 1;
	
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    width: 100%;

    margin-block-end: -10rem;
    padding-block: 2rem;
    padding-inline: var(--full-width-padding-inline);

    user-select: none;

    a {
        transition: opacity var(--animation--duration--slow) 0.2s;

        &::after {
            content: "";

            display: block;

            border-block-end: 0.2rem solid currentColor;

            transform: scaleX(0);

            transition: transform var(--animation--duration--fast);
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }

        &:not(.fade-in) {
            opacity: 0;
        }

        &.fade-in {
            opacity: 1;
        }
    }

    nav {
        margin-inline-end: auto;

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 4rem;
            row-gap: 2rem;

            li {
                a {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .logo {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        height: 1em;

        margin-block-end: 1rem;

        font-size: 4rem;
        font-weight: 400;
    }
}

@media (max-width: 800px) {
    header {
        justify-content: center;

        nav {
	        display: none;
	        
            ul {
                justify-content: center;
            }
        }
    }
}
