<header #header>
    <a routerLink="/">
        <div class="logo">
            CodeStar
            <logo-code-star></logo-code-star>
        </div>
    </a>

    <nav>
        <ul>
            <li><a href="#roadmap">نقشه راه</a></li>
            <li><a href="#content">محتوا</a></li>
            <li><a href="#concepts">مفاهیم</a></li>
            <li><a href="#requirements">پیش‌نیازها</a></li>
            <li><a href="#numbers">آمار و ارقام</a></li>
            <li><a href="#faq">سوالات متداول</a></li>
        </ul>
    </nav>
</header>
