@use "/src/app/styles";

.header {
    --background: #{styles.$color-gray-10};
    --color: #{styles.$color-gray-98};
    --color-hover: #{styles.$shade-light-gray-90};
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: visible;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
    width: 100%;
    max-width: var(--container-max-width);
    
    padding: 2rem var(--container-inline-padding);
    
    font-size: var(--font-size-header-navbar);
    font-weight: var(--font-weight-header-navbar);
    
    &,
    > * {
        color: var(--color);
        z-index: 2;
    }
    
    &.dark {
        --background: #{styles.$color-gray-98};
        --color: #{styles.$color-gray-10};
        --color-hover: #{styles.$shade-light-gray-10};
    }
    
    &__menu {
        position: relative;
        z-index: 1;
        
        &__icon {
            cursor: pointer;
            
            @include styles.transform-transition;
            
            &:hover {
                transform: scale(1.1);
            }
        }
        
        &__background {
            background: transparent;
            
            position: fixed;
            top: -5px;
            right: -18px;
            z-index: -1;
            
            width: 10rem;
            height: 10rem;
            
            border-radius: 999rem;
            
            transform: scale(0.4);
            transform-origin: center;
            
            transition: background 0.2s ease-in-out 0.5s,
            transform 0.5s ease-in-out;
        }
    }
    
    &__nav {
        display: none;
        
        a {
            --padding-block: 0.5rem;
            --padding-inline: 1.5rem;
            
            position: relative;
            
            color: var(--color);
            
            font-size: var(--font-size-header-nav);
            font-weight: var(--font-weight-header-nav);
            
            &,
            &::before {
                transition: all 0.1s ease-in-out;
            }
            
            &::before {
                content: "";
                
                background: var(--color-hover);
                
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                
                box-sizing: content-box;
                
                width: 0;
                height: 0;
                
                border-radius: 999rem;
                
                transform: translate(-50%, -50%);
            }
            
            &:hover {
                transform: scale(1.05);
                
                &::before {
                    width: 100%;
                    height: 100%;
                    
                    padding: var(--padding-block) var(--padding-inline);
                }
            }
            
            &.active {
                position: relative;
                
                font-weight: var(--font-weight-header-nav--active);
                
                &:hover {
                    transform: scale(1);
                }
                
                &::before {
                    display: none;
                }
                
                &::after {
                    --border-size: 0.2rem;
                    
                    content: "";
                    
                    background: currentColor;
                    
                    position: absolute;
                    left: calc(var(--padding-inline) * -0.5);
                    right: calc(var(--padding-inline) * -0.5);
                    bottom: calc(var(--border-size) * -2);
                    
                    box-sizing: content-box;
                    
                    height: var(--border-size);
                }
            }
        }
    }
    
    &__logo {
        display: flex;
        align-items: flex-end;
        
        & > * + * { margin-inline-start: 0.5em }
        
        height: calc(var(--font-size-header-logo) * 1.5);
        
        margin-inline-start: auto;
        
        @include styles.transform-transition;
        
        &__text {
            display: inline-block;
            
            font-size: var(--font-size-header-logo);
            font-weight: var(--font-weight-header-logo);
            line-height: 1em;
        }
        
        &__image {
            height: 100%;
        }
        
        &:hover {
            transform: scale(1.05);
        }
    }
    
    &.open {
        .header {
            &__menu {
                &__background {
                    background: var(--background);
                    opacity: 0.95;
                    
                    transform: scale(50);
                    
                    transition: background 0.2s ease-in-out,
                    transform 0.5s ease-in-out 0.2s;
                }
            }
            
            &__nav {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                & > * + * { margin-block-start: 2rem }
                
                pointer-events: none;
                
                a {
                    padding: 0.5em;
                    
                    pointer-events: auto;
                    
                    @for $i from 1 to 6 + 1 {
                        $duration: 0.4s;
                        $head-start: 0.2s;
                        $delay: ($i) * ($duration - $head-start);
                        
                        &:nth-child(#{$i}) {
                            animation: link-spring-in $duration linear $delay both;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .header {
        &__menu {
            &__background {
                right: 2px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__menu {
            display: none;
        }
        
        &__nav {
            display: flex;
            flex-direction: row;
            
            & > * + * { margin-inline-start: 3rem }
        }
        
        &__logo {
        }
    }
}

@media (min-width: 1200px) {
    .header {
        left: 50%;
        
        transform: translateX(-50%);
    }
}

@keyframes link-spring-in {
    0% {
        transform: translateX(100vw) scale(1);
    }
    
    20% {
        transform: translateX(-40px) scale(1.5);
    }
    
    40% {
        transform: translateX(30px);
    }
    
    60% {
        transform: translateX(-20px) scale(0.5);
    }
    
    80% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0) scale(1);
    }
}
