@use "/src/app/styles";

.timeline {
    width: 100%;
    max-width: var(--container-max-width);
    
    margin: 0 auto;
    
    padding-block-start: var(--container-padding-block-start);
    padding-inline: var(--container-inline-padding);
    
    h1 {
        text-align: center;
    }
    
    ul {
        --size: 10rem;
        --gap: 4rem;
        --padding: 2rem;
        
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        
        margin-block: var(--gap);
        
        list-style: none;
        
        li {
            background-color: styles.$color-white;
            @include styles.shadow-offset(1);
            
            gap: var(--padding);
            
            padding: var(--padding);
            
            transform: scale(1);
            transition: all 0.1s ease-in-out;
            
            .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                
                margin-block-end: 1rem;
                
                h2 {
                }
                
                h4 {
                }
            }
            
            .body {
                h3 {
                    text-align: justify;
                }
            }
            
            &:hover {
                background-size: 400%;
                color: styles.$color-white;
                
                transform: scale(1.05);
                
                animation: backgroundAnimation 2s linear infinite;
            }
            
            @for $i from 1 to 4 + 1 {
                &:nth-child(#{$i}) {
                    &:hover {
                        background-image: linear-gradient(to bottom right, var(--color-#{$i}--light), var(--color-#{$i}--dark));
                    }
                }
            }
        }
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    
    50% {
        background-position: 100% 100%;
    }
    
    100% {
        background-position: 0 0;
    }
}
