@use "/src/app/styles";

.time-line {
    @include styles.technologies-and-time-line;
    
    &__title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 60px;
        color: styles.$color-gray-98;
    }
    
    &__button {
        border: solid styles.$color-gray-98;
        padding: 20px;
        border-radius: 10px;
        text-decoration: none;
        color: styles.$color-gray-10;
        
        &:hover {
            background-color: transparentize(styles.$color-gray-98, 0.1);
        }
    }
    
    &__event {
        display: flex;
        
        &-bar {
            width: 100px;
            display: flex;
            flex-direction: column;
            min-height: 150px;
            
            &_circle {
                font-size: 1rem;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 100px;
                border-radius: 100%;
                background-color: styles.$color-gray-10;
                background-image: linear-gradient(147deg, styles.$color-gray-10 0%, #04619f 74%);
                color: styles.$color-gray-98;
                padding-left: 10px;
                padding-right: 10px;
            }
            
            &_line {
                width: 100%;
                min-height: 50px;
                height: 100%;
                flex: 1;
                padding-top: 5px;
                padding-bottom: 5px;
                
                span {
                    border-left: styles.$color-gray-10 dashed 6px;
                    width: 47px;
                    display: block;
                    height: 100%;
                }
            }
        }
        
        &-content {
            flex: 1;
            padding: 20px;
            
            &_title {
                font-weight: 600;
            }
            
            &_description {
                font-size: 1rem;
            }
            
            &_action-bar {
                text-align: center;
                padding: 20px;
            }
        }
    }
}
