<div class="description">
    <h1 class="description__title">مزیت‌ها</h1>
  <p class="description__text">
    برنامه‌ی دوره‌ی کارآموزی امسال بخاطر شرایط خاصی که ویروس کرونا ایجاد کرده
    جوری طراحی شده تا بدون نگرانی، بتونین از خونه و به صورت دورکاری شرکت کنین
    بنابراین در این دوره کارگاه‌های آموزشی، صحبت و مشورت با مربی و کار با هم
    تیمی‌ها از طریق ویدیو کنفرانس انجام میشه. همچنین pair programming یکی از
    بخش‌های مهم کارآموزی هست که تاثیر قابل توجهی در یادگیری مهارت‌های
    برنامه‌نویسی داره و از طریق screen share انجام میشه.
  </p>
  <p class="description__text">
    شرکت توی کارآموزی کداستار این مزیت ها رو برای شما داره:
  </p>
  <ul class="description__list">
    <li class="description__list-item description__list-item-circle">
      یادگیری مفاهیم پیشرفته‌ی برنامه‌نویسی و تکنولوژی‌های به‌روز و متنوع
    </li>
    <li class="description__list-item description__list-item-circle">
      رشد کردن در مواجهه با چالش‌های فنی در کنار مربی‌های با تجربه
    </li>
    <li class="description__list-item description__list-item-circle">
      دورکاری از خانه، از هر جای ایران بدون نگرانی از کرونا، حمل و نقل، خوابگاه
      و ... (۱)
    </li>
    <li class="description__list-item description__list-item-circle">
      تجربه‌ی کار تیمی و رشد مهارت‌های نرم
    </li>
    <li class="description__list-item description__list-item-circle">
      امکان شرکت در دوره به صورت واحد رسمی کارآموزی دانشگاه (۲)
    </li>
    <li class="description__list-item description__list-item-circle">
      کسب یک تجربه‌ی واقعی در صنعت کامپیوتر
    </li>
  </ul>

  <ol class="description__list">
    <li class="description__list-item description__list-item-number">
      همه‌ی مراحل دوره‌ی کداستار امسال از ثبت نام، آزمون، مصاحبه و شرکت در دوره،
      انجام و تحویل پروژه‌ها و کار با هم تیمی‌ها به صورت دورکاری و از طریق
      اینترنت هست بنابراین حواستون باشه برای برقراری ویدیو کنفرانس نیاز به یک
      اینترنت مناسب دارین
    </li>
    <li class="description__list-item description__list-item-number">
      در صورت پذیرفته شدن در آزمون ورودی و مصاحبه‌ی کداستار می‌تونین درخواست
      کنین شرکت در کداستار به عنوان واحد رسمی کارآموزی دانشگاه شما حساب بشه،
      البته به شرطی که شما شرایط دانشگاه خودتون برای برداشتن واحد کارآموزی رو
      داشته باشین و گذروندن واحد رسمی کارآموزی به صورت دورکاری مورد پذیرش
      دانشگاه شما باشه (مثلاً دانشکده مهندسی کامپیوتر دانشگاه شریف گذروندن واحد
      کارآموزی رو به صورت دورکاری پذیرفته)
    </li>
  </ol>
</div>
