<div class="description">
  <h1 class="description__title">مزیت‌ها</h1>

  <p class="description__text">
    برنامه‌ی دوره‌ی کارآموزی امسال به خاطر شرایط خاصی که ویروس کرونا ایجاد کرده
    جوری طراحی شده تا بدون نگرانی، بتونین از خونه و به صورت دورکاری در کارآموزی
    شرکت کنین بنابراین در این دوره کارگاه‌های آموزشی، صحبت و مشورت با مربی و کار
    با هم تیمی‌ها از طریق ویدیو کنفرانس انجام میشه. همچنین pair programming یکی
    از بخش‌های مهم کارآموزی هست که تاثیر قابل توجهی در یادگیری مهارت‌های
    برنامه‌نویسی داره و از طریق screen share انجام میشه.
  </p>
  <div class="description__image">
    <img src="./assets/shape-03.jpg" />
  </div>
  <p class="description__text">
    شرکت توی کارآموزی کداستار این مزیت‌ها رو برای شما داره:
  </p>
  <ul class="description__list">
    <li class="description__list-item description__list-item-circle">
      یادگیری مفاهیم پیشرفته‌ی برنامه‌نویسی و تکنولوژی‌های به‌روز و متنوع
    </li>
    <li class="description__list-item description__list-item-circle">
      رشد کردن در مواجهه با چالش‌های فنی در کنار مربی‌های با تجربه
    </li>
    <li class="description__list-item description__list-item-circle">
      دورکاری از خانه<span class="star">*</span>، از هر جای ایران بدون نگرانی از مشکلات کرونا،
      حمل و نقل، خوابگاه و...
    </li>
    <li class="description__list-item description__list-item-circle">
      تجربه‌ی کار تیمی و رشد مهارت‌های نرم
    </li>
    <li class="description__list-item description__list-item-circle">
      امکان شرکت در دوره به صورت واحد رسمی کارآموزی دانشگاه<span class="star">**</span>
    </li>
    <li class="description__list-item description__list-item-circle">
      به‌دست‌آوردن یک تجربه‌ی واقعی در صنعت کامپیوتر
    </li>
    <li class="description__list-item description__list-item-circle">
      احتمال دریافت پیشنهاد کار رسمی در تیم ستاره بعد از دوره کارآموزی<span class="star">***</span>
    </li>
  </ul>

  <ol class="description__list">
    <li class="description__list-item description__list-item-number">
      <span class="star">*</span> همه‌ی مراحل دوره‌ی کداستار امسال از ثبت نام، آزمون، مصاحبه و شرکت در
      دوره، انجام و تحویل پروژه‌ها و کار با هم تیمی‌ها به صورت دورکاری و از طریق
      اینترنت هست بنابراین حواستون باشه برای برقراری ویدیو کنفرانس نیاز به یک
      اینترنت مناسب دارین
    </li>
    <li class="description__list-item description__list-item-number">
      <span class="star">**</span> در صورت پذیرفته شدن در آزمون ورودی و مصاحبه‌ی کداستار می‌تونین درخواست
      کنین شرکت در کداستار به عنوان واحد رسمی کارآموزی دانشگاه شما حساب بشه،
      البته به شرطی که شما شرایط دانشگاه خودتون برای برداشتن واحد کارآموزی رو
      داشته باشین و گذروندن واحد رسمی کارآموزی به صورت دورکاری مورد پذیرش
      دانشگاه شما باشه (مثلاً دانشکده مهندسی کامپیوتر دانشگاه شریف گذروندن واحد
      کارآموزی رو به صورت دورکاری پذیرفته)
    </li>
    <li class="description__list-item description__list-item-number">
      <span class="star">***</span> بله! اگه عملکرد شما در دوره‌ی کارآموزی قوی باشه ممکنه آخر کارآموزی‌تون
      پیشنهاد کار رسمی از طرف تیم ستاره داشته باشین و مستقل از این گذروندن یه
      دوره‌ی کارآموزی حرفه‌ای رزومه شما رو تقویت می‌کنه و رزومه‌ی قوی‌تر
      فرصت‌های آینده‌ی شما رو بیشتر می‌کنه.
    </li>
  </ol>
</div>
