<div class="divider divider--top"></div>

<section #section id="concepts">
    <header>
        <h2>مفاهیم مشترک دوره‌ها</h2>
    </header>

    <main>
        <ul>
            <li>
                <h3>SOLID Principles</h3>
                <p>
                    اصول SOLID یکی از معروف‌ترین و پرکاربردترین اصول مربوط به تمیزی کد است. SOLID از 5 اصل تشکیل شده و
                    با رعایت آن‌ها می‌توان به کدی دست پیدا کرد که هم از نظر خوانایی و توسعه‌پذیری و هم از نظر تست‌پذیری
                    به مراتب جلوتر از کدهای غیر اصولی است.
                </p>
                <p>
                    این مفهوم به همراه تمامی مفاهیم دیگری که در این قسمت آمده، در دوره‌های فرانت‌اند و مهندسی نرم‌افزار
                    به صورت مشترک وجود دارند.
                </p>
            </li>
            <li>
                <h3>Unit Testing</h3>
                <p>
                    در پروژه‌های کوچک معمولاً نیاز به تست احساس نمی‌شود؛ چراکه تعداد توسعه‌دهندگان محدود است و پروژه‌ها
                    پس از تحویل، یا پشتیبانی نمی‌شوند یا تنها برای مدت کوتاهی پشتیبانی می‌شوند؛ اما این مسئله در
                    پروژه‌های بزرگ بسیار حائز اهمیت است.
                </p>
                <p>
                    همان طور که از اسمش پیداست، Unit Testing یعنی تست‌کردن تمام واحدهای سازندۀ برنامه؛ چه کوچک و چه
                    بزرگ. ابزارهای زیادی در این زمینه وجود دارد که هر کدام مزایا و معایب خاص خود را دارند که ما در دورۀ
                    فرانت‌اند از ابزار Karma و در دورۀ مهندسی نرم‌افزار از ابزار xUnit استفاده می‌کنیم.
                </p>
            </li>
            <li>
                <h3>Integration Testing</h3>
                <p>
                    استفاده از Unit Testing تنها بخشی از کد را در یک محیط ایزوله تست می‌کند؛ اما به مرور زمان قطعاً این
                    نیازمندی احساس می‌شود که قسمت‌های مختلف کد و رابطه‌ای که بین آن‌ها برقرار است را تست کنیم.
                </p>
                <p>
                    ما از ابزار Cypress برای انجام این‌گونه تست‌ها استفاده می‌کنیم. Cypress یکی از معروف‌ترین ابزارهای
                    حوزۀ تست است که تخصص اصلی آن Integration Testing می‌باشد. با استفاده از این ابزار می‌توان تمام
                    عملیاتی که توسط کاربر انجام می‌شود را شبیه‌سازی و از صحت اجرای کد اطمینان حاصل کرد.
                </p>
            </li>
            <li>
                <h3>Test-Driven Development</h3>
                <p>
                    معمولاً این تصور در بین برنامه‌نویسان رایج است که ابتدا کد اصلی برنامه را بنویسند و سپس به تست‌نویسی
                    بپردازند. اما Test-Driven Development یا به اختصار TDD دقیقاً عکس این را ارائه می‌دهد؛ به‌گونه‌ای که
                    از شما می‌خواهد ابتدا تمام تست‌های ممکن را بسازید و سپس سعی کنید کد قسمت‌های مختلف را بنویسید و
                    تست‌ها را پاس کنید.
                </p>
                <p>
                    مزیت این روش نسبت به روش اول در این است که برنامه‌نویس همیشه نسبت به کاری که باید انجام دهد آگاهی
                    لازم را دارد؛ همچنین چون تست‌ها از قبل نوشته شده و تمام جوانب کار را مشخص کرده، احتمال بروز خطا کمتر
                    است و از سهل‌انگاری جلوگیری می‌شود.
                </p>
            </li>
            <li>
                <h3>Continuous Integration</h3>
                <p>
                    با گذشت زمان و بزرگ‌شدن پروژه، تعداد برنامه‌نویسان و کدی که باید توسعه داده شود، بیشتر می‌شود؛
                    ازاین‌رو بهتر است ابزاری در اختیار داشته باشیم که عملیات تست‌نویسی، چک‌کردن تمیزی کد، بررسی نسخۀ
                    کتابخانه‌های مورد استفاده و پیداکردن نقاط ضعف آن‌ها را به صورت خودکار انجام دهد. به چنین کاری
                    Continuous Integration یا به اختصار CI گفته می‌شود.
                </p>
            </li>
            <li>
                <h3>Continuous Deployment</h3>
                <p>
                    پس از آنکه از صحت اجرای کدهای خود مطمئن شدیم، نوبت به مستقرکردن آن می‌رسد. اگر تعداد توسعه‌دهندگان
                    یا سرعت توسعه بالا باشد، این کار به‌شدت خسته‌کننده خواهد بود؛ به همین جهت از ابزاری استفاده می‌کنیم
                    که این عملیات را برایمان ساده کند. به چنین کاری Continuous Deployment یا به اختصار CD گفته می‌شود.
                </p>
                <p>ما در کداستار برای انجام عملیات‌های مربوط به CI و CD، از GitHub استفاده می‌کنیم.</p>
            </li>
            <li>
                <h3>Design Patterns</h3>
                <p>
                    با افزایش کدها و بزرگ‌ترشدن حجم پروژه، معماری نرم‌افزار اهمیت بسیار زیادی در توسعه و نگهداری آن پیدا
                    می‌کند که می‌تواند سرنوشت یک نرم‌افزار، یک تیم کوچک یا یک شرکت بزرگ را متحول کند.
                </p>
                <p>
                    الگوهای طراحی، راهکارهایی متداول برای حل مشکلات عمومی معماری نرم‌افزار هستند که ما در کداستار سعی
                    می‌کنیم با آموزش این الگوها به ارتقاء سطح کارآموزها کمک کنیم.
                </p>
            </li>
            <li>
                <h3>Code Review</h3>
                <p>
                    قطعاً یکی از موثرترین راه‌ها برای یادگیری مطالب جدید، استفاده از تجربۀ افراد Senior می‌باشد. این
                    افراد در طی سال‌ها، با آزمون‌و‌خطا و اشتباهاتی که مرتکب شده‌اند، به مفاهیم عمیقی دست پیدا کرده‌اند.
                </p>
                <p>
                    در کداستار تمام کدهایی که کارآموزها می‌نویسند، توسط منتورها که افرادی ماهر و باتجربه در حوزۀ مهندسی
                    نرم‌افزار هستند، مورد بازبینی قرار می‌گیرد. همچنین ما کارآموزها را تشویق می‌کنیم تا در جایگاه Code
                    Reviewer قرار بگیرند و با خواندن کد دیگران، سطح علمی خود را بالاتر ببرند.
                </p>
            </li>
            <li>
                <h3>Teamwork & Pair Programming</h3>
                <p>
                    توسعۀ نرم‌افزارهای بزرگ توسط تیم‌های توسعه‌دهنده‌ای انجام می‌شود که اعضای آن‌ها از ابزارها و
                    راهکارهای متعددی مانند Pair Programming برای افزایش راندمان کاری و بهبود تعاملات درون‌گروهی استفاده
                    می‌کنند.
                </p>
                <p>
                    ما در مراحل آموزشی کداستار با تقسیم کارآموزها به تیم‌های کوچکتر و آشناکردن آن‌ها با نحوۀ صحیح Pair
                    Programming تلاش می‌کنیم تا مطالب به شکل بهتر و در زمان کمتری به آن‌ها منتقل شود و در مرحلۀ نهایی با
                    شکل‌دادن تیم‌های بزرگتر سعی می‌کنیم تا تجربۀ یک کار تیمی خوب، به کارآموزها منتقل شود.
                </p>
            </li>
            <li>
                <h3>Soft Skills</h3>
                <p>
                    یکی از باورهای غلطی که درباره تیم‌های موفق توسعۀ نرم‌افزار وجود دارد این است که اعضای این تیم‌ها
                    صرفاً دارای مهارت‌های سخت (فنی) می‌باشند؛ اما در واقعیت این تیم‌ها از افرادی تشکیل شده‌اند که در
                    کنار مهارت‌های سخت، مهارت بالایی در زمینه برقراری ارتباط با سایر افراد تیم دارند تا مقصود خود را به
                    بهترین نحو به دیگران منتقل کنند و همچنین با ایجاد یک محیط ارتباطی دل‌نشین، به پویاترشدن تیم کمک
                    کنند.
                </p>
                <p>
                    در کداستار علاوه بر برنامه‌های آموزشی، برنامه‌های تفریحی و جمعی متعدد و متنوع نیز خواهیم داشت که در
                    راستای ارتقاء مهارت‌های نرم و افزایش حس مثبت کارآموزها، در طول دوره برگزار می‌شوند.
                </p>
            </li>
        </ul>
    </main>
</section>

<div class="divider divider--bottom"></div>
