<app-header theme="dark"></app-header>

<div class="register">

    <div class="register__buttons">
        <a href="#" class="button front-end-register">
            ثبت نام
            کارآموزی تابستانه
            <br />
            Front-End
            <br />
            <img class="light" src="../../../assets/logo-light.png">
            <img class="dark" src="../../../assets/logo-orange.png">
            <br />
            کُداستار
            <br />
        </a>
        <a href="#" class="button software-engineering-register">
            ثبت نام
            کارآموزی تابستانه
            <br />
            Software Engineering
            <br />
            <img class="light" src="../../../assets/logo-light.png">
            <img class="dark" src="../../../assets/logo-blue.png">
            <br />
            کُداستار
            <br />
        </a>
    </div>
</div>

<app-footer></app-footer>
