@use "/src/app/styles";

.register {
    --small-size: 40%;
    --normal-size: 50%;
    --big-size: calc(100% - var(--small-size));
    
    --splitter-half-size: 0%;
    
    --frontend-size: var(--normal-size);
    --software-size: var(--normal-size);
    
    position: relative;
    overflow: hidden;
    
    height: 100vh;
    
    &,
    * {
        transition: all 0.5s ease-in-out;
    }
    
    &.frontend-hover {
        --frontend-size: var(--big-size);
        --software-size: var(--small-size);
        
        .frontend {
            .wrapper {
                transform: scale(1.1);
            }
        }
        
        .software {
            .wrapper {
                transform: scale(0.75);
            }
            
            .multiply {
                opacity: 0.5;
            }
        }
    }
    
    &.software-hover {
        --frontend-size: var(--small-size);
        --software-size: var(--big-size);
        
        .frontend {
            .wrapper {
                transform: scale(0.75);
            }
            
            .multiply {
                opacity: 0.5;
            }
        }
        
        .software {
            .wrapper {
                transform: scale(1.1);
            }
        }
    }
    
    .frontend,
    .software,
    .overlay {
        &,
        .multiply {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    
    .frontend,
    .software {
        color: styles.$color-gray-98;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .wrapper {
            display: grid;
            place-items: center;
            
            width: 100%;
            max-width: 60rem;
            
            .content {
                display: grid;
                grid-template-rows: 1fr 10rem 1fr;
                align-items: center;
                justify-items: center;
                gap: 1rem;
                
                padding: 3rem 0;
                
                h2 {
                    align-self: flex-end;
                    
                    width: max-content;
                }
                
                .illustration {
                    height: 100%;
                }
                
                a {
                    align-self: flex-start;
                    
                    background: styles.$color-gray-98;
                    color: styles.$color-gray-10;
                    mix-blend-mode: screen;
                    
                    margin-top: 1rem;
                    padding: 0.5em 3em;
                    
                    border-radius: 999rem;
                    
                    transform: scale(1);
                    
                    cursor: pointer;
                    
                    @include styles.transform-transition;
                    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        
        .multiply {
            background: styles.$color-black;
            mix-blend-mode: multiply;
            opacity: 0;
            
            pointer-events: none;
        }
    }
    
    .frontend {
        background: var(--color-frontend--dark);
        
        align-items: flex-start;
        
        .wrapper {
            height: var(--frontend-size);
        }
    }
    
    .software {
        --top-position: calc(100% - var(--software-size));
        
        background: var(--color-software--dark);
        clip-path: polygon(0% var(--top-position), 100% var(--top-position), 100% 100%, 0% 100%);
        
        align-items: flex-end;
        
        .wrapper {
            height: var(--software-size);
        }
    }
    
    .overlay {
        background-image: linear-gradient(to bottom, styles.$color-white, styles.$color-black);
        mix-blend-mode: overlay;
        opacity: 0.25;
        
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .register {
        --small-size: 30%;
        --normal-size: 50%;
        --big-size: calc(100% - var(--small-size));
        
        &.frontend-hover {
            --splitter-half-size: 2%;
            
            .frontend {
                .content {
                    transform: scale(1.1);
                }
            }
            
            .software {
                .content {
                    transform: scale(0.75);
                }
            }
        }
        
        &.software-hover {
            --splitter-half-size: 2%;
            
            .frontend {
                .content {
                    transform: scale(0.75);
                }
            }
            
            .software {
                .content {
                    transform: scale(1.1);
                }
            }
        }
        
        .frontend,
        .software {
            .wrapper {
                max-width: unset;
                height: fit-content;
                
                .content {
                    grid-template-rows: 1fr 20rem 1fr;
                    gap: 2rem;
                    
                    padding: 3rem 1rem;
                }
            }
        }
        
        .frontend {
            align-items: center;
            justify-content: flex-start;
            
            .wrapper {
                width: var(--frontend-size);
            }
        }
        
        .software {
            --top-right-position: calc(var(--software-size) + var(--splitter-half-size));
            --bottom-left-position: calc(var(--software-size) - var(--splitter-half-size));
            
            clip-path: polygon(0% 0%, var(--top-right-position) 0%, var(--bottom-left-position) 100%, 0% 100%);
            
            align-items: center;
            justify-content: flex-end;
            
            .wrapper {
                width: var(--software-size);
            }
        }
    }
}

@media (min-width: 992px) {
    .register {
        .frontend,
        .software {
            .wrapper {
                .content {
                    padding: 3rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .register {
        .frontend,
        .software {
            .wrapper {
                .content {
                    padding: 5rem;
                }
            }
        }
    }
}
