<app-header theme="light"></app-header>

<div #registerRef class="register" [style]="style">
    <div class="frontend" (mouseover)="hoverHandler(true, true)" (mouseout)="hoverHandler(true, false)">
        <div class="content">
            <h2>Front-End</h2>
            
            <div class="illustration">
                <svg-frontend></svg-frontend>
            </div>
            
            <a href="#">
                <h3>ثبت نام</h3>
            </a>
        </div>
    </div>
    
    <div class="software" (mouseover)="hoverHandler(false, true)" (mouseout)="hoverHandler(false, false)">
        <div class="content">
            <h2>Software Engineering</h2>
            
            <div class="illustration">
                <svg-software></svg-software>
            </div>
            
            <a href="#">
                <h3>ثبت نام</h3>
            </a>
        </div>
    </div>
    
    <div class="overlay"></div>
</div>
