@use "/src/app/styles";

.register {
    --small-size: 35%;
    --normal-size: 50%;
    --big-size: calc(100% - var(--small-size));
    
    --splitter-half-size: 0%;
    
    --frontend-size: var(--normal-size);
    --software-size: var(--normal-size);
    
    position: relative;
    
    height: 100vh;
    
    &,
    * {
        transition: all 0.5s ease-in-out;
    }
    
    &.frontend-hover {
        --splitter-half-size: -2%;
        
        --frontend-size: var(--big-size);
        --software-size: var(--small-size);
    }
    
    &.software-hover {
        --splitter-half-size: 2%;
        
        --frontend-size: var(--small-size);
        --software-size: var(--big-size);
    }
    
    .frontend,
    .software,
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .frontend,
    .software {
        color: styles.$color-gray-98;
        
        display: flex;
        flex-direction: row;
        
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            height: 100%;
        }
    }
    
    .frontend {
        background: var(--color-frontend--dark);
        
        justify-content: flex-start;
        
        .content {
            width: var(--frontend-size);
        }
    }
    
    .software {
        --top-right-position: calc(var(--software-size) + var(--splitter-half-size));
        --bottom-left-position: calc(var(--software-size) - var(--splitter-half-size));
        
        background: var(--color-software--dark);
        clip-path: polygon(0% 0%, var(--top-right-position) 0%, var(--bottom-left-position) 100%, 0% 100%);
        
        justify-content: flex-end;
        
        .content {
            width: var(--software-size);
        }
    }
    
    .overlay {
        background-image: linear-gradient(to bottom, styles.$color-white, styles.$color-black);
        mix-blend-mode: overlay;
        opacity: 0.25;
        
        pointer-events: none;
    }
}
