<div class="technologies">
  <p class="technologies__text">
    در کارآموزی کُداِستار در کار با این زبان‌ها و فناوری‌ها تجربه به دست میارین:
  </p>
  <ul class="technologies__list">
    <li class="technologies__list-item technologies__list-item-flex ">
      <img class="technologies__list-icon" src="./assets/CSharp.png" />
      <span>#C</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/Java.png" />
      <span>Java</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/TypeScript.png" />
      <span>TypeScript</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/SqlServer.png" />
      <span>Microsoft SQL server</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/Elasticsearch.png" />
      <span>Elasticsearch</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/Kibana.png" />
      <span>Kibana</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/APM.png" />
      <span>APM</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/ASP.png" />
      <span>Asp.Net Core</span>
    </li>
    <li class="technologies__list-item technologies__list-item-flex">
      <img class="technologies__list-icon" src="./assets/Angular.png" />
      <span>Angular</span>
    </li>
  </ul>
  <p class="technologies__text">
    همچنین با این مفاهیم آشنا میشین:
  </p>
  <ul class="technologies__list">
    <li class="technologies__list-item">
      <span>Advanced Object Oriented Programming</span>
    </li>
    <li class="technologies__list-item">
      <span>SOLID principles</span>
    </li>
    <li class="technologies__list-item">
      <span>Test Driven Development</span>
    </li>
    <li class="technologies__list-item">
      <span>Application Profiling</span>
    </li>
    <li class="technologies__list-item">
      <span>Unit Testing, Integration Testing, Load Testing</span>
    </li>
    <li class="technologies__list-item">
      <span>SQL, NoSQL, High Available Databases</span>
    </li>
  </ul>
</div>
