.technologies {
  line-height: 2rem;
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  text-align: justify;

  @media (max-width: 575px) {
    padding: 75px 20px;
  }

  @media (min-width: 576px) {
    padding: 75px 38px;
  }

  @media (min-width: 768px) {
    padding: 75px 134px;
  }

  @media (min-width: 992px) {
    padding: 75px 246px;
  }

  @media (min-width: 1200px) {
    padding: 75px 350px;
  }

  &__col {
    &:nth-child(1) {
      flex: 1;
    }

    &:nth-child(2) {
      align-items: center;
      justify-content: center;

      @media (min-width: 992px) {
        align-items: flex-end;
      }

      display: flex;
    }

    justify-content: end;
  }

  &__list {
    &-item {
      min-height: 2.5rem;
      line-height: 2rem;
      align-items: flex-end;
      list-style-type: circle;

      text-align: right;

      &-flex {
        display: flex;
      }
    }

    &-icon {
      height: 2rem;
      margin-left: 10px;
    }
  }
}
