<div class="header">
  <div class="header__container">
    <h1 class="header__title">من یک دانشجوی باانگیزه هستم</h1>
    <hr />
    <ul class="header__list">
      <li>می‌خواهم <strong>رشد سریع</strong> داشته باشم</li>
      <li>می‌خواهم <strong>صنعت واقعی</strong> را تجربه کنم</li>
      <li>می‌خواهم <strong>اثرگذار</strong> باشم</li>
    </ul>
    <div class="header__offer">
      کارآموزی تابستانه <strong>کُداِستار</strong> دقیقا برای شما طراحی شده
      است...
      <div class="header__offer-action-bar">
        <a
          href="https://quera.ir/events/code-star/"
          mat-raised-button
          target="_blank"
          >می‌خواهم ثبت‌ نام کنم</a
        >
      </div>
    </div>
  </div>
</div>
