@use "/src/app/styles";

@mixin slide-gradient($i) {
    background-color: var(--slide-color-#{$i}-1);
    background-image: linear-gradient(
            135deg,
            var(--slide-color-#{$i}-1) 0,
            var(--slide-color-#{$i}-2) 75%
    );
}

.home {
    height: 100vh;
    
    .slide {
        color: styles.$color-gray-98;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        & > * + * { margin-top: 2rem }
        
        height: 100%;
        
        padding: 0 5rem;
        
        @for $i from 1 to 3 + 1 {
            &--#{$i} {
                @include slide-gradient($i);
            }
        }
        
        &__title {
            text-align: center;
        }
        
        &__subtitle {
            max-width: var(--container-max-width);
            
            text-align: justify;
        }
        
        &__cta {
            background: styles.$color-gray-98;
            color: styles.$color-gray-10;
            mix-blend-mode: screen;
            
            margin-top: 1rem;
            padding: 0.5em 3em;
            
            border-radius: 999rem;
            
            font-size: var(--font-size-h3);
            font-weight: var(--font-weight-h3);
            
            transform: scale(1);
            
            cursor: pointer;
            
            @include styles.transform-transition;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
