@import '../../../colors.scss';

.slide {
  height: 100%;
  color: $light;
   padding: 0 70px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    padding-left: calc(calc(100% - 720px) / 2);
    padding-right: calc(calc(100% - 720px) / 2);
  }
  @media (min-width: 992px) {
    padding-left: calc(calc(100% - 960px) / 2);
    padding-right: calc(calc(100% - 960px) / 2);
  }
  @media (min-width: 1200px) {
    padding-left: calc(calc(100% - 1140px) / 2);
    padding-right: calc(calc(100% - 1140px) / 2);
  }
  @media (min-width: 1400px) {
    padding-left: calc(calc(100% - 1320px) / 2);
    padding-right: calc(calc(100% - 1320px) / 2);
  }

  &-title{
    font-size: 4em;
    line-height: 1.5em;
  }

  &-subtitle{
    font-size: 2em;
    line-height: 1.5em;
  }
}

.slide1 {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.slide2 {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}
.slide3 {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
