<app-toolbar theme="light"></app-toolbar>
<div class="home" [style]="slideColorsStyle">
    <app-carousel (slideChange)="slideChangeHandler($event)">
        <app-slide>
            <div class="slide slide1">
                <h1 class="slide-title">کارآموزی تابستانه کداستار</h1>
                <h2 class="slide-subtitle">
                    اگر به دنبال محلی برای گذراندن تابستانی پر از یادگیری می‌گردید کداستار
                    بهترین جا برای شماست!
                </h2>
            </div>
        </app-slide>
        <app-slide>
            <div class="slide slide2">
                <h2 class="slide-subtitle">
                    کُداِستار، دوره‌ی کارآموزیِ (internship) زمستانه‌ی آکادمی ستاره هست،
                    این دوره جوری طراحی شده که مهارت های فنی و همچنین مهارت‌های نرم
                    دانشجو‌های رشته مهندسی و علوم کامپیوتر رو رشد بده و یک تجربه‌ی منحصر
                    به فرد از یادگیری تکنولوژی‌های متنوع و کار تیمی رو برای شما فراهم کنه.
                    توی این دوره علاوه بر کارگاه‌ها و آموزش‌های فشرده‌ی مربی‌های آکادمی،
                    با مسائل واقعی صنعت دست و پنجه نرم می‌کنین.
                </h2>
            </div>
        </app-slide>
        <app-slide>
            <div class="slide slide3">
                <h2 class="slide-subtitle">
                    برنامه‌ی دوره‌ی کارآموزی امسال به خاطر شرایط خاصی که ویروس کرونا ایجاد
                    کرده جوری طراحی شده تا بدون نگرانی، بتونین از خونه و به صورت دورکاری
                    در کارآموزی شرکت کنین بنابراین در این دوره کارگاه‌های آموزشی، صحبت و
                    مشورت با مربی و کار با هم تیمی‌ها از طریق ویدیو کنفرانس انجام میشه.
                    همچنین pair programming یکی از بخش‌های مهم کارآموزی هست که تاثیر قابل
                    توجهی در یادگیری مهارت‌های برنامه‌نویسی داره و از طریق screen share
                    انجام میشه.
                </h2>
            </div>
        </app-slide>
    </app-carousel>
</div>
