<app-header theme="light" (openChange)="headerMenuOpenChangeHandler($event)"></app-header>
<div class="home" [style]="slideColorsStyle">
    <app-carousel (slideChange)="updateThemeColor($event)">
        <app-slide>
            <div class="slide slide--1">
                <h1 class="slide__title">کارآموزی تابستانه کداستار</h1>
                <h3 class="slide__subtitle">
                    اگر به دنبال محلی برای گذراندن تابستانی پر از یادگیری می‌گردید کداستار
                    بهترین جا برای شماست!
                </h3>

                <a routerLink="/register" class="slide__cta">ثبت نام</a>                
            </div>
        </app-slide>
        <app-slide>
            <div class="slide slide--2">
                <h3 class="slide__subtitle">
                    کُداِستار، دورۀ کارآموزیِ (internship) تابستانۀ آکادمی ستاره هست،
                    این دوره طوری طراحی شده که مهارت های فنی و همچنین مهارت‌های نرم
                    دانشجویان رشتۀ مهندسی و علوم کامپیوتر رو رشد بده و یک تجربۀ منحصر
                    به فرد از یادگیری تکنولوژی‌های متنوع و کار تیمی رو برای شما فراهم کنه.
                    توی این دوره علاوه بر کارگاه‌ها و آموزش‌های فشردۀ مربی‌های آکادمی،
                    با مسائل واقعی صنعت دست و پنجه نرم می‌کنید.
                </h3>
            </div>
        </app-slide>
        <app-slide>
            <div class="slide slide--3">
                <h3 class="slide__subtitle">
                    برنامۀ دورۀ کارآموزی امسال به خاطر شرایط خاصی که ویروس کرونا ایجاد
                    کرده طوری طراحی شده تا بدون نگرانی، بتونید از خونه و به صورت دورکاری
                    در کارآموزی شرکت کنید بنابراین در این دوره کارگاه‌های آموزشی، صحبت و
                    مشورت با مربی و کار با هم تیمی‌ها از طریق ویدیو کنفرانس انجام میشه.
                    همچنین Pair Programming یکی از بخش‌های مهم کارآموزی هست که تاثیر قابل
                    توجهی در یادگیری مهارت‌های برنامه‌نویسی داره و از طریق Screen Share
                    انجام میشه.
                    البته برای دوستانی که تمایل دارن، این امکان فراهم شده که
                    در شهرهای تهران و اصفهان به صورت حضوری در کارآموزی شرکت کنند.
                </h3>
            </div>
        </app-slide>
    </app-carousel>
</div>
