@use "/src/app/styles" as *;

.toolbar {
  z-index: 1000;
  width: 100%;
  position: absolute;
  font-size: 1.5em;

  &-container {
    height: 70px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (min-width: 576px) {
      max-width: 540px;
      height: 85px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
      height: 100px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
      height: 120px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
      height: 150px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }

  &-button {
    background: transparent;

    position: relative;

    padding: 10px;

    border: none;
    border-radius: 5px;

    text-decoration: none;

    transform: scale(1);

    @include transform-transition;

    &:not(:first-of-type) {
      margin-inline-start: 15px;
    }

    &:not(:last-of-type) {
      margin-inline-end: 15px;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &.active {
      font-weight: bold;

      &::after {
        content: '';

        background: currentColor;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        display: block;

        height: 2px;
      }
    }
  }

  &-sidebar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    transition: width 1s;
    overflow: hidden;

    &.hide{
      width: 0;
    }

    &__container {
      padding-top: 50px;
      padding-inline-end: 20px;
      min-width: 200px;
      height: 100%;
      transition: width 1s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;

      *{
        word-wrap: unset;
      }
    }

    &__spacer {
      height: 100%;
      flex: 1;
    }
  }

  &-spacer {
    flex: 1;
  }

  &-logo {
    height: 50px;
    align-items: center;
    display: flex;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    @include transform-transition;

    &__text {
      display: inline-block;
    }

    &__text + &__image {
      margin-inline-start: 20px;
    }

    &__image {
      height: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.light .toolbar {
  &-logo {
    &__text {
      color: $light;
    }
  }

  &-button {
    color: $light;

    &.stroked {
      border: solid $light;
    }
  }

  &-sidebar {
    &__container {
      background: $dark-transparent;
    }
  }
}

.dark .toolbar {
  &-logo {
    &__text {
      color: $dark;
    }
  }

  &-button {
    color: $dark;

    &.stroked {
      border: solid $dark;
    }
  }

  &-sidebar {
    &__container {
      background: $light-transparent;
    }
  }
}


.mobile-view {
  @media (min-width: 768px) {
    display: none;
  }
}

.desktop-view {
  @media (max-width: 769px) {
    display: none;
  }
}
