<app-header theme="light"></app-header>

<div class="benefits" [style]="style">
    <svg class="benefits__svg"
         xmlns="http://www.w3.org/2000/svg"
         width="2384.137"
         height="941.838"
         viewBox="0 0 2384.137 941.838">
        <path id="Top"
              d="M1330.389,458c-767.5,0-619.313-223.649-853.313-118.965S-81.953,402.489-159.337,23.574-263.405-456.684-263.405-456.684s2330.728-61.095,2376.5,0C2147.029-411.387,2097.894,458,1330.389,458Z"
              transform="translate(263.405 483.838)"/>
        <defs>
            <linearGradient id="gradient" gradientTransform="rotate(45)">
                <stop offset="0" [attr.stop-color]="colors.light"/>
                <stop offset="100%" [attr.stop-color]="colors.dark"/>
            </linearGradient>
        </defs>
    </svg>
    
    <div class="benefits__top">
        <div class="benefits__top__text">
            <h1>مزایای شرکت در کارآموزی کداستار</h1>
            
            <ul>
                <li>یادگیری مفاهیم پیشرفته‌ی برنامه‌نویسی و تکنولوژی‌های به‌روز و متنوع</li>
                <li>رشد کردن در مواجهه با چالش‌های فنی در کنار مربی‌های با تجربه</li>
                <li>تجربه‌ی کار تیمی و رشد مهارت‌های نرم</li>
                <li>به‌دست‌آوردن یک تجربه‌ی واقعی در صنعت کامپیوتر</li>
                <li>امکان شرکت در دوره به صورت واحد رسمی کارآموزی دانشگاه</li>
                <li>احتمال دریافت پیشنهاد کار رسمی در تیم توسعه نرم‌افزار تحلیل داده ستاره</li>
                <li>دورکاری از خانه، در هر نقطه از ایران یا انتخاب کارآموزی حضوری در شهر تهران و اصفهان</li>
            </ul>
        </div>
        
        <div class="benefits__top__svg">
            <svg-computer-spaceship></svg-computer-spaceship>
        </div>
    </div>
    
    <div class="benefits__bottom">
        <ul>
            <li>
                <div class="icon">
                    <svg-virus></svg-virus>
                </div>
                <h2>کار حضوری و دورکاری</h2>
                <p>
                    شما می‌تونین در زمان مصاحبه بین سه گزینه‌ی کار حضوری در تهران، کار حضوری در اصفهان و یا دورکاری هر کدوم که راحت‌تر هستین رو انتخاب کنین.
                </p>
            </li>
            <li>
                <div class="icon">
                    <svg-graduation-cap></svg-graduation-cap>
                </div>
                <h2>واحد کارآموزی دانشگاه</h2>
                <p>
                    در صورت پذیرفته‌شدن در آزمون ورودی و مصاحبۀ
                    کداستار می‌تونین درخواست کنین این دوره به عنوان واحد رسمی کارآموزی
                    دانشگاه شما حساب شه؛ البته به شرطی که شما شرایط دانشگاه خودتون برای
                    برداشتن واحد کارآموزی رو داشته باشین و اگه دورکاری رو انتخاب کردین گذروندن کارآموزی به صورت
                    دورکاری، مورد پذیرش دانشگاه شما باشه.
                </p>
            </li>
            <li>
                <div class="icon">
                    <svg-working-with-computer></svg-working-with-computer>
                </div>
                <h2>شغل</h2>
                <p>
                    اگه عملکرد شما در کارآموزی خوب
                    باشه ممکنه در آخر دوره، پیشنهاد کار رسمی از طرف تیم ستاره رو داشته باشین.
                    در نهایت گذروندن یه دورۀ کارآموزی حرفه‌ای، رزومۀ شما رو تقویت
                    می‌کنه و یک رزومۀ قوی، فرصت‌های شغلی آیندۀ شما رو بیشتر می‌کنه.
                </p>
            </li>
        </ul>
    </div>
</div>

<app-footer [background]="footerBackground" color="white"></app-footer>
