@use "/src/app/styles";

.benefits {
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__svg {
        fill: url("#gradient");
        
        position: absolute;
        left: 50%;
        top: -101.84px;
        z-index: -1;
        
        transform: translateX(-50%);
    }
    
    &__top,
    &__bottom {
        width: 100%;
        max-width: var(--container-max-width);
        
        padding-left: var(--container-inline-padding);
        padding-right: var(--container-inline-padding);
    }
    
    &__top {
        color: styles.$color-gray-98;
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        
        height: 900px;
        
        padding-top: var(--container-padding-top);
        
        &__text {
            flex: 1;
            
            h1 {
                text-align: center;
            }
            
            ul {
                list-style: inside;
                
                li {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    
                    font-size: var(--font-size-h3);
                    font-weight: var(--font-weight-h3);
                }
            }
        }
        
        &__svg {
            display: none;
        }
    }
    
    &__bottom {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
            
            & > * + * { margin-right: 4rem }
            
            list-style: none;
            
            margin-bottom: 5rem;
            
            li {
                flex: 1 0 25rem;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                
                & > * + * { margin-top: 1rem }
                
                max-width: 35rem;
                
                .icon {
                    position: relative;
                    
                    width: 40%;
                    
                    &::ng-deep {
                        svg {
                            fill: url("#gradient");
                        }
                    }
                }
                
                h2 {
                    width: 100%;
                    
                    margin-top: 0.5em;
                    
                    text-align: center;
                }
                
                p {
                    color: styles.$color-gray-40;
                    
                    text-align: justify;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .benefits {
        &__top {
            &__text {
                h1 {
                    text-align: start;
                }
            }
            
            &__svg {
                display: unset;
            }
        }
    }
}
