@use "/src/app/styles";

.benefits {
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10rem var(--container-inline-padding) 2rem;
    
    &__svg {
        fill: url("#gradient");
        
        position: absolute;
        left: -263.41px;
        top: -141.84px;
        z-index: -1;
    }
    
    &__top,
    &__bottom {
        width: 100%;
        max-width: 1200px;
    }
    
    &__top {
        color: styles.$color-gray-98;
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        
        height: max-content;
        
        &__text {
            h1 {
                text-align: center;
            }
            
            ul {
                li {
                    margin-block: 2rem;
                    
                    font-size: var(--font-size-h3);
                    font-weight: var(--font-weight-h3);
                }
            }
        }
        
        &__svg {
            display: none;
        }
    }
    
    &__bottom {
        margin-top: 20rem;
        
        ul {
            display: grid;
            grid-auto-flow: column;
            gap: 5rem;
            
            list-style: none;
            
            li {
                //background: styles.$color-white;
                //box-shadow: styles.$shadow-subtle;
                
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                justify-content: flex-start;
                
                width: 35rem;
                
                padding: 3rem;
                
                border-radius: 1.5rem;
                
                .icon {
                    position: relative;
                    
                    width: 40%;
                    
                    &::ng-deep {
                        svg {
                            fill: url("#gradient");
                        }
                    }
                }
                
                h2 {
                    width: 100%;
                    
                    margin-top: 0.5em;
                    
                    text-align: center;
                }
                
                p {
                    color: styles.$color-gray-40;
                    
                    text-align: justify;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__menu {
            display: none;
        }
        
        &__nav {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
        
        &__logo {
        }
    }
}

@media (min-width: 1200px) {
    .benefits {
        padding-top: 16rem;
        
        &__top {
            &__text {
                h1 {
                    text-align: start;
                }
            }
            
            &__svg {
                display: unset;
            }
        }
    }
}
