

$color1: #1d2235;
$color2: #49505a;
$color3: #3c4562;
$color4: #556259;
$color5: #e2e1df;

$light: #e2e2e2;
$dark: #2e2e2e;

$light-transparent:#e2e2e2ef;
$dark-transparent:#2e2e2eef;

$base-color: $color4;
$background-dark: #49505a55;

