@use "assets/fonts/fontiran.css";
@use "/src/app/styles";

*,
*::before,
*::after {
    background: none;
    
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    border: none;
    outline: none;
    
    font-family: peyda, sans-serif;
    
    line-height: 150%;
    text-decoration: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    
    border: none;
    border-radius: 1rem;
}

html {
    font-size: 62.5%;
    font-weight: 300;
}

html,
body {
    overflow-x: hidden;
    
    min-height: 100vh;
    
    scroll-behavior: smooth;
}

body {
    background: styles.$color-gray-98;
    color: styles.$color-gray-10;
    
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    display: flex;
}

.material-icons {
    display: flex;
    
    font-family: "Material Icons", sans-serif !important;
}

body {
    --container-max-width: 1200px;
    --container-padding-block-start: 16rem;
    --container-inline-padding: 2rem;
    
    --font-size-h1: 2.4rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.6rem;
    --font-size-h4: 1.2rem;
    --font-size-header-logo: 2.4rem;
    --font-size-header-nav: var(--font-size-h3);
    
    --font-weight-h1: 700;
    --font-weight-h2: 600;
    --font-weight-h3: 300;
    --font-weight-h3--active: 500;
    --font-weight-h4: 500;
    --font-weight-header-logo: 700;
    --font-weight-header-nav: var(--font-weight-h4);
    --font-weight-header-nav--active: var(--font-weight-h2);
    
    @media (min-width: 576px) {
        --container-inline-padding: 4rem;
    }
    
    @media (min-width: 768px) {
        --font-size-h1: 3.2rem;
        --font-size-h2: 2.4rem;
        --font-size-h3: 2rem;
        --font-size-h4: 1.6rem;
        --font-size-header-nav: var(--font-size-h4);
    }
    
    @media (min-width: 992px) {
    }
    
    @media (min-width: 1200px) {
        --font-size-h1: 3.6rem;
        --font-size-h2: 2.8rem;
        --font-size-h3: 2.4rem;
        --font-size-h4: 1.6rem;
    }
}

@for $i from 1 to 6 + 1 {
    h#{$i} {
        font-size: var(--font-size-h#{$i});
        font-weight: var(--font-weight-h#{$i});
    }
}

p {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}
