<section #section>
    <div class="watermark">CodeStar</div>

    <main>
        <h1>
            <div class="line">
                <div class="text">رویارویی با چالش‌های دنیای</div>
            </div>
            <div class="line">
                <div class="text">صنعت در محیطی حرفه‌ای</div>
            </div>
        </h1>
        <p>
            ما در دورۀ تابستانۀ کارآموزی کداستار تلاش می‌کنیم تا کارآموزان را با چالش‌هایی روبه‌رو کنیم که برنامه‌نویسان
            حرفه‌ای هر روز در شرکت‌های بزرگ با آن‌ها دست‌و‌پنجه نرم می‌کنند.
            <br />
            کارآموزی کداستار کاملاً رایگان است و هدف از برگزاری آن، بالابردن مهارت‌های نرم و سخت دانشجویان ایران‌زمین
            می‌باشد.
        </p>
        <a class="button" href="https://quera.org/r/lv1ra" target="_blank">ثبت نام</a>
    </main>

    <div class="scroll-indicator">
        <div class="arrow">↓</div>
    </div>
</section>
