<div class="particles">
  <div id="particles-js"></div>
</div>

<div class="home-page">
  <mat-toolbar class="home-page__toolbar">
    <a href="#" mat-button>خانه</a>
    <a href="#technologies" class="not-important" mat-button>تکنولوژی‌ها</a>
    <a href="#benefits" class="not-important" mat-button>مزیت‌ها</a>
    <a href="#requirements" class="not-important" mat-button>پیش‌نیازها</a>
    <a href="#time-line" class="not-important" mat-button>زمان‌بندی</a>
    <a href="#contact-us" class="not-important" mat-button>ارتباط با ما</a>
    <a
      href="https://quera.ir/contest/add_to_contest/1RYBMIAbnoxIXXq/"
      mat-stroked-button
      target="_blank"
      >ثبت نام</a
    >

    <span class="home-page__toolbar-spacer"></span>
    <img class="home-page__toolbar-logo" src="./assets/logo-light.png" />
  </mat-toolbar>
  <app-background-animation> </app-background-animation>
  <section class="home-page__header">
    <app-header></app-header>
  </section>
  <div class="home-page__detail">
    <section>
      <app-what-is-code-star></app-what-is-code-star>
    </section>
    <section id="technologies">
      <app-technologies></app-technologies>
    </section>
    <hr />
    <section id="benefits">
      <app-description></app-description>
    </section>
    <hr />
    <section id="requirements">
      <app-requirements></app-requirements>
    </section>
    <hr />
    <section id="time-line">
      <app-time-line></app-time-line>
    </section>
    <hr />
    <section id="contact-us">
      <app-contact-us></app-contact-us>
    </section>
    <div>
      <p class="home-page__detail-owner">
        تمامی حقوق مادی و معنوی کداستار متعلق به شرکت فناوری اطلاعات و ارتباطات
        امن مهیمن می‌باشد.
      </p>
    </div>
  </div>
</div>
