<section #section id="numbers">
    <header>
        <h2>آمار و ارقام</h2>
    </header>

    <main>
        <ul>
            <li>
                <div class="number">
                    <div class="text">76</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">کارآموز</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">60+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">پروژه</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">20+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">ساعت کارگاه ضبط‌شده</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">570+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">ساعت جلسۀ درون‌گروهی</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">5000+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">خط آموزش متنی</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">800+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">کامنت هنگام بازبینی کد</div>
                </div>
            </li>
            <li>
                <div class="number">
                    <div class="text">400+</div>
                </div>
                <div class="line"></div>
                <div class="title">
                    <div class="text">بار ارتقاء و بهبود محتوا</div>
                </div>
            </li>
        </ul>
    </main>
</section>
