<app-toolbar theme="dark"></app-toolbar>
<div class="requirements">
  <h1 class="requirements__title">پیش‌نیازها</h1>
  <p class="requirements__text"><strong>مورد‌های ضروری</strong></p>
  <ul class="requirements__list">
    <li class="requirements__list-item requirements__list-item-circle">
      در حال حاضر دانشجوی کارشناسی رشته‌ی مهندسی کامپیوتر یا علوم کامپیوتر
      باشین<span class="star">*</span>
    </li>
    <li class="requirements__list-item requirements__list-item-circle">
      درس برنامه‌سازی پیشرفته (Advanced Programming)‌ دانشگاهتون رو گذرونده
      باشین (یا در حال گذروندن اون در همین ترم باشین)
    </li>
    <li class="requirements__list-item requirements__list-item-circle">
      با توجه به فشرده بودن و مواجهه با چالش‌های فنی متنوع، در طول دوره‌ی
      کارآموزی (از ۱ اسفند تا پایان اردیبهشت) بتونین روزانه از ساعت ۵ تا ۸:۳۰
      بعد از ظهر شنبه تا چهارشنبه وقت بذارین
    </li>
    <li class="requirements__list-item requirements__list-item-circle">
      مشتاق رشد و عاشق سر و کله زدن با چالش های فنی باشین
    </li>
    <li class="requirements__list-item requirements__list-item-circle">
      از کار تیمی و آموختن مهارت های نرم لذت ببرین
    </li>
  </ul>

  <div class="requirements__image">
    <img src="../../../assets/Picture1.jpg" />
  </div>
  <p class="requirements__text">
    <strong>مورد‌هایی که ضروری نیستن ولی مفیدن</strong>
  </p>
  <ul class="requirements__list">
    <li class="requirements__list-item requirements__list-item-circle">
      آشنایی با ساختمان داده و الگوریتم (Data Structures & Algorithms)
    </li>
    <li class="requirements__list-item requirements__list-item-circle">
      آشنایی با پایگاه‌داده
    </li>
  </ul>

  <ol class="requirements__list">
    <li class="requirements__list-item requirements__list-item-number">
      <span class="star">*</span> اگه دانشجوی یکی از رشته‌های نزدیک به کامپیوتر
      مثل علوم ریاضی یا مهندسی برق هستین نگران نباشین، اگه برنامه‌سازی پیشرفته
      رو گذروندین می‌تونین ثبت نام کنین!
    </li>
  </ol>
</div>
<app-footer></app-footer>
