section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    header {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        h2 {
            transition: transform var(--animation--duration--slow);
        }

        &:not(.fade-in) {
            h2 {
                transform: translateY(100%);
            }
        }

        &.fade-in {
            h2 {
                transform: translateY(0%);
            }
        }
    }

    main {
        > ul {
            direction: ltr;

            display: flex;
            flex-direction: column;
            gap: 4rem;

            > li {
                h3 {
                    transition: opacity var(--animation--duration--slow);

                    &:not(.fade-in) {
                        opacity: 0;
                    }

                    &.fade-in {
                        opacity: 1;
                    }
                }

                > ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    > li {
                        flex: 1 0 auto;

                        background-color: var(--color--primary);
                        color: var(--color--primary-opposite);

	                    width: fit-content;
	                    
                        padding: 2rem;

                        border-radius: var(--border-radius);

                        font-family: IRANSansX, sans-serif;

                        transition: transform var(--animation--duration--slow);

                        &::selection {
                            background-color: var(--color--primary-opposite);
                            color: var(--color--primary);
                        }

                        &:not(.fade-in) {
                            opacity: 0;
                            transform: scale(0);
                        }

                        &.fade-in {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
