<app-header theme="dark"></app-header>

<h1>پیش‌نیازها</h1>

<div class="requirements">
    <h2>موارد ضروری</h2>
    <ul>
        <li *ngFor="let requirement of requirements">
            <i></i>
            <h3>{{requirement}}</h3>
        </li>
    </ul>
</div>

<div class="extras">
    <h2>موارد غیر ضروری اما مفید</h2>
    <ul>
        <li *ngFor="let extra of extras">
            <h3>{{extra}}</h3>
            <i></i>
        </li>
    </ul>
</div>

<app-footer></app-footer>

<!--
            اگه دانشجوی یکی از رشته‌های نزدیک به کامپیوتر
            مثل علوم ریاضی یا مهندسی برق هستین نگران نباشین، اگه برنامه‌سازی پیشرفته
            رو گذروندین می‌تونین ثبت نام کنین!
-->
